<a href="https://colab.research.google.com/github/gursaveks/Personal-Expense-Tracker/blob/main/DATA_PREPROCESSING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Load the dataset
data = pd.read_csv("Data.csv")

# Display the first few rows
print(data.head())

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [3]:
# Fill missing Age with the mean
data['Age'].fillna(data['Age'].mean(), inplace=True)

# Fill missing Salary with the median
data['Salary'].fillna(data['Salary'].median(), inplace=True)

<ipython-input-3-a014b1f0c14a>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(data['Age'].mean(), inplace=True)
<ipython-input-3-a014b1f0c14a>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Salary'].fillna(data['Salary'].median(), inplace=True)

In [4]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data[['Age', 'Salary']] = scaler.fit_transform(data[['Age', 'Salary']])

In [5]:
# One-hot encode the Country column
data = pd.get_dummies(data, columns=['Country'], drop_first=True)

# Encode the Purchased column (Yes=1, No=0)
data['Purchased'] = data['Purchased'].map({'Yes': 1, 'No': 0})

In [6]:
from sklearn.model_selection import train_test_split

X = data.drop('Purchased', axis=1)
y = data['Purchased']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.0

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load the dataset
data = pd.read_csv("Data.csv")

# Preprocessing
data['Age'].fillna(data['Age'].mean(), inplace=True)         # Fill missing Age values
data['Salary'].fillna(data['Salary'].median(), inplace=True) # Fill missing Salary values
data = pd.get_dummies(data, columns=['Country'], drop_first=True) # Encode 'Country'
data['Purchased'] = data['Purchased'].map({'Yes': 1, 'No': 0})    # Encode 'Purchased'

# Define features (X) and target (y)
X = data.drop('Purchased', axis=1)  # Features
y = data['Purchased']               # Target

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print the results
print("Training Features:\n", X_train)
print("\nTesting Features:\n", X_test)
print("\nTraining Target:\n", y_train)
print("\nTesting Target:\n", y_test)

Training Features:
          Age   Salary  Country_Germany  Country_Spain
5  35.000000  58000.0            False          False
0  44.000000  72000.0            False          False
7  48.000000  79000.0            False          False
2  30.000000  54000.0             True          False
9  37.000000  67000.0            False          False
4  40.000000  61000.0             True          False
3  38.000000  61000.0            False           True
6  38.777778  52000.0            False           True

Testing Features:
     Age   Salary  Country_Germany  Country_Spain
8  50.0  83000.0             True          False
1  27.0  48000.0            False           True

Training Target:
 5    1
0    0
7    1
2    0
9    1
4    1
3    0
6    0
Name: Purchased, dtype: int64

Testing Target:
 8    0
1    1
Name: Purchased, dtype: int64

<ipython-input-8-9b04adb40009>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(data['Age'].mean(), inplace=True)         # Fill missing Age values
<ipython-input-8-9b04adb40009>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Salary'].fillna(data['Salary'].median(), inplace=True) # Fill missing Salary values